.webfactor_modal_form.webfactor_default {
	width: 280px;
	border: 1px solid;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	display: none;
	opacity: 0;
	z-index: 100000;
	padding: 5px 10px 0px;
}

.webfactor_static_form.webfactor_default{
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}

div[id^=webfactor_modal_form-].webfactor_modal_form.webfactor_default .webfactor_modal_close{
    width: 21px;
	height: 21px;
    position: absolute;
    cursor: pointer;
	display: block;
	text-align: center;
    line-height: 20px;
	border-radius: 10px;
    background: url(webfactor-close-bg.png) center center no-repeat;
    border: none;
    color: transparent;
    top: -25px;
    right: -25px;
    border-radius: none;
    opacity: .8;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform .5s;
}

div[id^=webfactor_modal_form-].webfactor_modal_form.webfactor_default .webfactor_modal_close:hover {
    background-color: transparent;
    opacity: 1;
    color: transparent;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/* Подложка */
.webfactor_overlay {
	z-index: 99999;
	position: fixed;
	background-color: #000;
	opacity: 0.8;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0;
	cursor: pointer;
	display: none;
}
.webfactor_default .webfactor_predtext, .webfactor_default .webfactor_predButton {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid;
	font-size: 20px;
	color: inherit;
}

.webfactor_default .webfactor_predtext {
    border: none;
}

.webfactor_default .webfactor_predButton{
	border: none;
}
.webfactor_default .webfactor_predtext p, .webfactor_default .webfactor_predButton p{
	margin: 0;
	font-size: 16px;
    color: #929292;
}
.webfactor_default form.ajaxWebfactorForm{
	padding: 10px;
	margin: 0;
    margin-bottom: 5px;
}

.webfactor_default form.ajaxWebfactorForm .radio,
.webfactor_default form.ajaxWebfactorForm .checkbox {
    min-height: 20px;
    padding: 0!important;
}
.webfactor_default form.ajaxWebfactorForm .radio input,
.webfactor_default form.ajaxWebfactorForm .checkbox input{
    float: left;
    width: auto;
	margin: 5px 5px 0 0;
}
.webfactor_default form.ajaxWebfactorForm .colorbox p{
	display: inline-block;
}
.webfactor_default form.ajaxWebfactorForm .colorbox input{
	width: 40px;
    height: 30px;
    float: none;
    margin: 0px 10px;
    padding: 0px;
    box-shadow: none;
    cursor: pointer;
    border: none;
}

.webfactor_default form.ajaxWebfactorForm input,
.webfactor_default form.ajaxWebfactorForm select,
.webfactor_default form.ajaxWebfactorForm textarea{
	width: 100%;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    padding: 5px;
    color: inherit;
    display: table-row-group;
    box-sizing: border-box;
    box-shadow: none;
	height: auto;
}

.webfactor_default form.ajaxWebfactorForm textarea {
    min-height: 55px!important;
	outline: none;
}
.webfactor_default form.ajaxWebfactorForm input:focus{
	border-color: inherit;
	box-shadow: none;
	outline: none;
}

.webfactor_default .ajaxWebfactorForm input[id^=submit] {
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s;
    min-height: 0px;
    min-width: 0px;
    margin-top: 10px;
    line-height: 39px;
    border-width: 0px 0px 3px;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 16px;
	border: none;
    border-bottom: 3px solid rgb(125, 0, 177);
    background-color: rgb(156, 0, 187);
    border-color: rgb(90, 0, 117);
    border-radius: 0;
    line-height: 40px;
    padding: 0 20px;
    font-weight: 500;
    color: #fff;
    -webkit-transition: color 400ms, background-color 400ms, border-color 400ms;
    -o-transition: color 400ms, background-color 400ms, border-color 400ms;
    transition: color 400ms, background-color 400ms, border-color 400ms;
}

.webfactor_default .ajaxWebfactorForm input[id^=submit]:hover,
.webfactor_default .ajaxWebfactorForm input[id^=submit]:active {
	border: 0 solid transparent;
    border-bottom: 3px solid rgb(96, 0, 136);
    background-color: rgb(127, 0, 152);
    border-color: rgb(66, 0, 86);
	color: white;
}

.webfactor_default .ajaxWebfactorForm input {
  border: 0 solid transparent;
  border-bottom: 1px solid #7a8188;
  border-radius: 0;
}
.webfactor_default .ajaxWebfactorForm label.error {
  margin-top: 0;
  margin-bottom: -15px;
  background-color: transparent;
}
.webfactor_default .ajaxWebfactorForm textarea {
  border: 1px solid transparent;
  border-radius: 0;
  background-color: rgba(204,204,204,0.3);
  margin-top: 15px;
  resize: vertical;
}

.WFnameField p{
	margin: 10px 0 -5px 0px;
}
.webfactor_default form.ajaxWebfactorForm legend {
	margin-bottom: 5px;
	font-size: inherit;
}
.webfactor_default .webfactor_go{
	padding: 8px 5px 5px 5px;
	display: block;
	max-width: 260px;
	text-align: center;
	text-decoration: none;
    border-bottom: 3px solid rgb(125, 0, 177);
    background-color: rgb(156, 0, 187);
    border-color: rgb(90, 0, 117);
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    transition: .3s;
}
.webfactor_default .webfactor_go:hover, .webfactor_default .webfactor_go:focus{
    border-bottom: 3px solid rgb(96, 0, 136);
    background-color: rgb(127, 0, 152);
    border-color: rgb(66, 0, 86);
    color: #fff;
}
.webfactor_modal_form.webfactor_default div[class^=webfactor_error-status]{
	padding: 15px 10px;
	text-align: center;
	font-size: 22px;
	color: red;
}
.webfactor_modal_form.webfactor_default div[class^=webfactor_ok-status]{
	padding: 15px 10px;
	text-align: center;
	font-size: 18px;
	color: inherit;
}
.webfactor_modal_form.webfactor_default div[class^=webfactor_error-status] p,
.webfactor_modal_form.webfactor_default div[class^=webfactor_ok-status] p{
	margin: 0;
}
.webfactor_default form.ajaxWebfactorForm label.error{
    display: block;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 4px;
    margin-top: -8px;
    color: red;
    font-size: 14px;
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 0;
    padding: 0;
    max-width: 100%;
}
.webfactor_default form.ajaxWebfactorForm fieldset.radio,
.webfactor_default form.ajaxWebfactorForm fieldset.checkbox{
	position:relative;
}
.webfactor_default form.ajaxWebfactorForm fieldset.radio label.error,
.webfactor_default form.ajaxWebfactorForm fieldset.checkbox label.error{
	position: absolute;
	bottom: 0;
}